/* src/App.module.css */

.appContainer {
  background-color: #f4faff;
  min-height: 100vh;
  color: #1f2937; /* Tailwind's text-gray-900 */
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 5rem; /* pt-20 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .main {
    padding-left: 3rem; /* md:px-12 */
    padding-right: 3rem;
  }
}
